.FacebookPosts{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
    row-gap: 1rem;
    padding-top:2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
}

@media only screen and (max-width:600px) and (min-width:344px){
    .FacebookPosts{
        flex-direction: column;
        width: 90%;
    }
}